p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
body header{
    background:url("photo-1512453979798-5ea266f8880c.jpg") ;
}
header{
    padding: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-size: cover;
  }
  div, #iframe{
    float: center;
    vertical-align:top;
    text-align: center;
}
img{
float: center;
width: 200px;
}
nav ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
     text-align: center;
     height: 80px;
     width: 100%;
    padding: 0px;
    margin: 0 5px;
    line-height: 80px;
    margin-inline-end: 20px;
  }
  nav li{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #cccccc;
    text-align: center;
    line-height: 40px;
  }
  nav li:hover{
    background-color: rosybrown;
    border-radius: 3px;
  }
  nav li a{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-decoration: none;
    color: black;
    }
body{
    background-color: ghostwhite;
    color: black;
    }
    h2{
        font-family: Arial, Helvetica, sans-serif;
        text-align:center;
      }
      
footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:gainsboro;
    color:black;
  }